<?xml version="1.0" encoding="UTF-8"?>
<zk>
    <config-name>w4tj-bootstrap</config-name>
    <!-- used to resolve dependency -->
    <!--
    <depends>zk</depends>
    -->

    <version>
        <version-class>com.web4thejob.bootstrap.Version</version-class>
        <version-uid>1.0.0</version-uid>
    </version>
</zk>