<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!--
    - MANDATORY
    - You need this to activate the Web4thejob Studio Richlet
    - http://books.zkoss.org/wiki/ZK_Developer's_Reference/UI_Composing/Richlet
    -->
    <servlet>
        <description>ZK loader for evaluating ZUML pages</description>
        <servlet-name>zkLoader</servlet-name>
        <servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>
        <init-param>
            <param-name>update-uri</param-name>
            <param-value>/zkau</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <!-- MUST -->
    </servlet>

    <!--
    - MANDATORY
    - You need this to activate the Web4thejob Studio Richlet
    -->
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>/w4tjstudio/*</url-pattern>
    </servlet-mapping>

    <!--
    - OPTIONAL/RECOMMENDED
    - You need this to have Web4thejob Studio handle errors gracefully.
    - If this setting is reserved for other purposes in your project you can omit it.
    - However, you may experience odd behavior when your servlet container throws exceptions.
    -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/w4tjstudio/exception</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>welcome.zul</welcome-file>
    </welcome-file-list>


</web-app>